<md-toolbar>represent-orders-data works!</md-toolbar>

<div class="example-container mat-elevation-z8">
  <md-table #table [dataSource]="dataSource">
    <!-- "BillToID", "Carrier", "Creditcard", "CustNum",  -->
    
    <ng-container cdkColumnDef="BillToID">
      <md-header-cell *cdkHeaderCellDef> BillToID </md-header-cell>
      <md-cell *cdkCellDef="let row"> {{row.BillToID}} </md-cell>
    </ng-container>

    <!-- Progress Column -->
    <ng-container cdkColumnDef="Carrier">
      <md-header-cell *cdkHeaderCellDef> Carrier </md-header-cell>
      <md-cell *cdkCellDef="let row"> {{row.Carrier}}% </md-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container cdkColumnDef="Creditcard">
      <md-header-cell *cdkHeaderCellDef> Creditcard </md-header-cell>
      <md-cell *cdkCellDef="let row"> {{row.Creditcard}} </md-cell>
    </ng-container>

    <!-- Color Column -->
    <ng-container cdkColumnDef="CustNum">
      <md-header-cell *cdkHeaderCellDef>CustNum</md-header-cell>
      <md-cell *cdkCellDef="let row"> {{row.CustNum}} </md-cell>
    </ng-container>

    <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
    <md-row *cdkRowDef="let row; columns: displayedColumns;"></md-row>
  </md-table>
</div>

