<!-- <table>

  <thead>
    <tr>
      <td>Ordernum</td>
      <td>CustNum</td>
      <td>OrderDate</td>
      <td>ShipDate</td>
      <td>PromiseDat</td>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let order of orders">
      <td>{{order.Ordernum}} </td>
      <td>{{order.CustNum}} </td>
      <td>{{order.OrderDate}} </td>
      <td>{{order.ShipDate}} </td>
      <td>{{order.PromiseDat}} </td>
    </tr>
  </tbody>

</table> -->

<app-data-tabl-exampl>
  Should load app-data-tabl-exampl
</app-data-tabl-exampl>