<h2 md-dialog-title>Edit beOrder</h2>
<md-dialog-content>
  <form name="BeOrderDialogForm" #BeOrderDialogForm="ngForm" 
      class="container" (submit)="saveBeOrder()" novalidate>

    <md-tab-group>
      <md-tab label="Обязательные">
        <!--   <div class="form-group">
          <input type="date" class="form-control" [(ngModel)]="task.deadline">
        </div> -->
        <md-input-container>
          <input type="number" mdInput placeholder="BillToID" name="BillToID" 
            [(ngModel)]="newTtOrder.BillToID">
        </md-input-container>

        <md-input-container>
          <input type="string" mdInput placeholder="Carrier" name="Carrier" 
            [(ngModel)]="newTtOrder.Carrier">
        </md-input-container>

        <md-input-container>
          <input type="string" mdInput placeholder="Creditcard" name="Creditcard" 
            [(ngModel)]="newTtOrder.Creditcard">
        </md-input-container>

        <md-input-container>
          <input type="number" mdInput placeholder="CustNum" name="CustNum" 
            [(ngModel)]="newTtOrder.CustNum">
        </md-input-container>

        <md-input-container>
          <input type="string" mdInput placeholder="Instructions" name="Instructions" 
            [(ngModel)]="newTtOrder.Instructions">
        </md-input-container>
      </md-tab>

      <md-tab label="Не обязательные">
        <md-input-container>
          <input type="string" mdInput placeholder="OrderDate" name="OrderDate" 
            [(ngModel)]="newTtOrder.OrderDate">
        </md-input-container>

        <md-input-container>
          <input type="string" mdInput placeholder="OrderStatus" name="OrderStatus" 
          [(ngModel)]="newTtOrder.OrderStatus">
        </md-input-container>

        <md-input-container>
          <input type="number" mdInput placeholder="Ordernum" name="Ordernum" 
            [(ngModel)]="newTtOrder.Ordernum">
        </md-input-container>

        <md-input-container>
          <input type="number" mdInput placeholder="PO" name="PO" 
            [(ngModel)]="newTtOrder.PO">
        </md-input-container>

        <md-input-container>
          <input type="string" mdInput placeholder="PromiseDate" name="PromiseDate" 
            [(ngModel)]="newTtOrder.PromiseDate">
        </md-input-container>

        <md-input-container>
          <input type="string" mdInput placeholder="SalesRep" name="SalesRep" 
           [(ngModel)]="newTtOrder.SalesRep">
        </md-input-container>

        <md-input-container>
          <input type="string" mdInput placeholder="ShipDate" name="ShipDate" 
            [(ngModel)]="newTtOrder.ShipDate">
        </md-input-container>

        <md-input-container>
          <input type="number" mdInput placeholder="ShipToID" name="ShipToID" 
           [(ngModel)]="newTtOrder.ShipToID">
        </md-input-container>

        <md-input-container>
          <input type="string" mdInput placeholder="Terms" name="Terms" 
            [(ngModel)]="newTtOrder.Terms">
        </md-input-container>

        <md-input-container>
          <input type="number" mdInput placeholder="WarehouseNum" name="WarehouseNum" 
            [(ngModel)]="newTtOrder.WarehouseNum">
        </md-input-container>
      </md-tab> 

    </md-tab-group>
  </form>
</md-dialog-content>

<md-dialog-actions>
  <button class="btn btn-default" md-button md-dialog-close (click)=onCancel(myForm)>
    Cancel
  </button>
  <!-- [disabled]="BeOrderDialogForm.invalid" [md-dialog-close]="true"   -->
  <button class="btn btn-default" md-button md-dialog-close (click)="saveBeOrder(myForm)">
    Save
  </button>
</md-dialog-actions>